/******section contenant le carrousel avec les images défilantes*******/
section.carrousel-container {
    width: 100%;
  /* width: calc(
    (124 / 1.44) * 1vw
  ); 100% == 1240px soit (100*1240)/1440 ==> + 100*2 (marges) = 1440 == 100vw */
  height: calc(
    (415 / 14.4) * 1vw
  ); /**415px soit en gardant le ratio: 415/14.4 vw **/
  mix-blend-mode: normal;
  border-radius: 25px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
/********* les images  défilantes*********/
img.carrousel-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

/**  les flèches pour faire défiler les images**/
img.carrousel-fleche-gauche {
  position: absolute;
  z-index: 3;
  left: 2%;
  top: 40%;
  width: calc((46 / 14.4) * 1vw);
  height: calc((79 / 14.4) * 1vw);
}
img.carrousel-fleche-droite {
  position: absolute;
  z-index: 3;
  right: 2%;
  top: 40%;
  width: calc((46 / 14.4) * 1vw);
  height: calc((79 / 14.4) * 1vw);
}

.carrousel-fleche-droite:hover,
.carrousel-fleche-gauche:hover {
 transform: scale (1.3) translateX (1%);
 transition: transform 0.3s ease-in-out;
 cursor:pointer;
}


/**section suivante: carrousel-infos**/
/** comporte deux conteneurs alignés horizontalement sur desktop
et verticalement sur mobile **/
.carrousel-infos {
    margin-top: 10px;
    width: 55%;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: flex-start;
}

/**1er conteneur ***
contenant 3 éléments:  
1- title  2 -location 3-tags[]  **/
.carrousel-infos-gauche {
display: flex;
flex-flow: column wrap;
justify-content: flex-start;
align-items:flex-start;
width: 65%;
height: auto;
/* padding:  */
}

/**title ***/
.carrousel-infos-title{
    margin:0 ;
    padding: 2px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
color: #FF6060;

}

.carrousel-infos-location{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: flex-end;
        color: #FF6060;
        margin: 0;
}


/** le conteneur des  tags**/
.carrousel-infos-tags {
width: auto;
height: auto;
display: flex;
flex-flow: row wrap;
justify-content: flex-start;
align-items: center;
padding: 5px;
margin:  0 5px;
}

/** les tags eux-mêmes**/
.carrousel-tag{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
    background: #FF6060;
    border-radius: 10px; 
    height: auto; /** 25px;*/
width: auto; /** 115px;**/
color: white; 
text-align: center;
padding : 5px;
margin:0 5px;
 

}

/**2ème conteneur (host + rating)
contenant 3 éléments:  
(1- hostname 2- hostpicture) +  3-rating **/
.carrousel-infos-droite {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items:flex-start;
    /* border: 1px solid hotpink; */
    width: 30%;
    height: auto;
}
/**conteneur infos  host 
contenant le hostname + hostpicture**/
.carrousel-infos-droite-host {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;

}
.carrousel-infos-droite-hostname {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px; /**18px;**/
line-height: 100%; 
display: flex;
align-items: flex-end;
text-align: right;
color: #FF6060;
width:calc((92/14.4)*1vw);
height: calc((52/14.4)*1vw);
}

.carrousel-infos-droite-hostpicture { 
    background: #C4C4C4;
width: 64px;
height: 64px;
border-radius: 50%;
position: relative;
}
.carrousel-infos-droite-hostpicture img { 
  top:0;
left:0;
right:0;
bottom: 0;
border-radius: 50%;
position: absolute;
}
