.error {
  position: relative;
  width: 100%; /*1440px;*/
  height: 1024px;
  background: #ffffff;
}

.error-code {
  text-align: center;
  position: absolute;
  width: 100%; /*597px;*/
  height: 263px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;   /* or 411px */
  /* display: flex;
  align-items: center; */
  color: #ff6060;
}

/* Oups! La page que vous demandez n'existe pas. */
.error-msg {
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  left: 20.49%;
  right: 18.96%;
  top: 59.18%;
  bottom: 35.84%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;   /* or 51px */
  /* display: flex;
  align-items: flex-end; */
  color: #ff6060;
}

/* Retourner sur la page d’accueil */
.error-to-home {
  text-align: left;
  position: absolute;
  left: 40.14%;
  right: 40.14%;
  top: 81.93%;
  bottom: 15.53%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;
  color: #ff6060;
}
