.error {
  width: 100%; /*1440px;*/
  height: 1024px;
  background: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.error-code {
  text-align: center;
  width: 100%; /*597px;*/
  height: 263px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%; /* or 411px */
  color: #ff6060;
  margin-bottom: 66px;
}

/* Oups! La page que vous demandez n'existe pas. */
.error-msg {
  letter-spacing: 0em;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%; /* or 51px */
  color: #ff6060;
  margin-bottom: 182px;
}

/* Retourner sur la page d’accueil */
.error-to-home {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;
  color: #ff6060;
}
