.footer {
  color: rgb(255, 255, 255);
  height: 209px;
  background: #000000;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
}

.footer-img-wrapper {
    width: 122px;
  height: 39.44px;
  margin-top: 66px;
}

/* © 2020 Kasa. All rights reserved */
.footer p {
  height: 46px;
  width: 100%; /*513px;*/
  margin: auto 0  29px 0;
  border-radius: nullpx;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
    color: #ffffff;
}
